In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('file/winemag-data-130k-v2.csv')

In [48]:
price_extremes = reviews.groupby('variety').price.agg([min, max])

/tmp/ipykernel_4577/190109348.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  price_extremes = reviews.groupby('variety').price.agg([min, max]).reset_index().sort_values(by=['min', 'max'])
/tmp/ipykernel_4577/190109348.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'max' instead.
  price_extremes = reviews.groupby('variety').price.agg([min, max]).reset_index().sort_values(by=['min', 'max'])

                            variety  min    max
434                    Pinot Grigio  4.0   70.0
289                    Malbec-Syrah  4.0   78.0
690                     White Blend  4.0  375.0
584                     Tempranillo  4.0  600.0
80               Cabernet Sauvignon  4.0  625.0
..                              ...  ...    ...
490                        Roscetto  NaN    NaN
518  Sauvignon Blanc-Sauvignon Gris  NaN    NaN
589              Tempranillo-Malbec  NaN    NaN
681                           Vital  NaN    NaN
698                           Zelen  NaN    NaN

[707 rows x 3 columns]

In [49]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
sorted_varieties

                            variety    min    max
469                         Ramisco  495.0  495.0
597                       Terrantez  236.0  236.0
183                        Francisa  160.0  160.0
491                Rosenmuskateller  150.0  150.0
607                Tinta Negra Mole  112.0  112.0
..                              ...    ...    ...
490                        Roscetto    NaN    NaN
518  Sauvignon Blanc-Sauvignon Gris    NaN    NaN
589              Tempranillo-Malbec    NaN    NaN
681                           Vital    NaN    NaN
698                           Zelen    NaN    NaN

[707 rows x 3 columns]

In [50]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

In [64]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
country_variety_counts

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64