In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../file/Global Population Trends(2016-2022).csv')
print(df.head(3))

       Country  Year Total Population Urban Population Rural Population  \
0  Afghanistan  2017                -                -                -
1  Afghanistan  2018       36,686,784        9,353,296       27,333,488
2  Afghanistan  2019       37,769,499        9,727,157       28,042,342

  Population Density Life Expectancy  Birth Rate  Death Rate Fertility Rate  \
0                 55            63.0      37.342       7.027          5.129
1                 56            63.0      36.927       6.981          5.002
2                 58            64.0      36.466       6.791           4.87

  Infant Mortality Rate Growth Rate
0                  49.4           -
1                  47.8         3.0
2                  46.3         3.0

In [4]:
shape = df.shape
shape

(1073, 12)

In [5]:
df.columns

Index(['Country', 'Year', 'Total Population', 'Urban Population',
       'Rural Population', 'Population Density', 'Life Expectancy',
       'Birth Rate', 'Death Rate', 'Fertility Rate', 'Infant Mortality Rate',
       'Growth Rate'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073 entries, 0 to 1072
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1073 non-null   object
 1   Year                   1073 non-null   int64
 2   Total Population       1073 non-null   object
 3   Urban Population       1073 non-null   object
 4   Rural Population       1073 non-null   object
 5   Population Density     1073 non-null   object
 6   Life Expectancy        1073 non-null   object
 7   Birth Rate             1073 non-null   float64
 8   Death Rate             1073 non-null   float64
 9   Fertility Rate         1073 non-null   object
 10  Infant Mortality Rate  1073 non-null   object
 11  Growth Rate            1073 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 100.7+ KB

In [7]:
res = df[df['Total Population'] != '-']
res

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
1,Afghanistan,2018,"36,686,784","9,353,296","27,333,488",56,63.0,36.927,6.981,5.002,47.8,3.0
2,Afghanistan,2019,"37,769,499","9,727,157","28,042,342",58,64.0,36.466,6.791,4.87,46.3,3.0
3,Afghanistan,2020,"38,972,230","10,142,913","28,829,317",60,63.0,36.051,7.113,4.75,44.8,3.0
4,Afghanistan,2021,"40,099,462","10,551,772","29,547,690",-,62.0,35.842,7.344,4.643,43.4,3.0
6,Albania,2018,"2,866,376","1,728,969","1,137,407",105,79.0,10.517,8.308,1.44,8.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1067,Zambia,2021,"19,473,125","8,800,295","10,672,830",-,61.0,34.511,6.973,4.308,40.2,3.0
1069,Zimbabwe,2018,"15,052,184","4,848,158","10,204,026",39,61.0,32.074,7.972,3.659,38.0,2.0
1070,Zimbabwe,2019,"15,354,608","4,945,719","10,408,889",40,61.0,31.518,8.043,3.599,37.1,2.0
1071,Zimbabwe,2020,"15,669,666","5,052,214","10,617,452",41,61.0,31.009,8.132,3.545,36.6,2.0
1072,Zimbabwe,2021,"15,993,524","5,166,388","10,827,136",-,59.0,30.537,9.057,3.491,35.7,2.0

In [8]:
df.describe()
df.min()
df.max()

Country                    Zimbabwe
Year                           2021
Total Population             99,258
Urban Population         99,876,265
Rural Population            998,397
Population Density               99
Life Expectancy                85.0
Birth Rate                   46.351
Death Rate                     21.7
Fertility Rate                7.084
Infant Mortality Rate           9.9
Growth Rate                     5.0
dtype: object

In [9]:
res = df.sort_values(by=['Country', 'Year'])
res

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
0,Afghanistan,2017,-,-,-,55,63.0,37.342,7.027,5.129,49.4,-
1,Afghanistan,2018,"36,686,784","9,353,296","27,333,488",56,63.0,36.927,6.981,5.002,47.8,3.0
2,Afghanistan,2019,"37,769,499","9,727,157","28,042,342",58,64.0,36.466,6.791,4.87,46.3,3.0
3,Afghanistan,2020,"38,972,230","10,142,913","28,829,317",60,63.0,36.051,7.113,4.75,44.8,3.0
4,Afghanistan,2021,"40,099,462","10,551,772","29,547,690",-,62.0,35.842,7.344,4.643,43.4,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1068,Zimbabwe,2017,-,-,-,38,61.0,32.516,8.266,3.706,39.5,-
1069,Zimbabwe,2018,"15,052,184","4,848,158","10,204,026",39,61.0,32.074,7.972,3.659,38.0,2.0
1070,Zimbabwe,2019,"15,354,608","4,945,719","10,408,889",40,61.0,31.518,8.043,3.599,37.1,2.0
1071,Zimbabwe,2020,"15,669,666","5,052,214","10,617,452",41,61.0,31.009,8.132,3.545,36.6,2.0
1072,Zimbabwe,2021,"15,993,524","5,166,388","10,827,136",-,59.0,30.537,9.057,3.491,35.7,2.0

In [14]:
f = pd.read_csv('../file/Global Population Trends(2016-2022).csv')
# Удалите запятые и преобразуйте столбец 'Total Population' в числовой формат
df['Total Population'] = df['Total Population'].str.replace(',', '').replace('-', '0')  .astype(float)

# Выберите только столбцы 'Country' и 'Total Population'
df = df[['Country', 'Total Population']]

# Найдите максимальное значение в столбце 'Total Population'
max_pop = df['Total Population'].max()

# Найдите страну с максимальным населением
country = df.loc[df['Total Population'] == max_pop, 'Country']
country

205    China
Name: Country, dtype: object

In [24]:
import pandas as pd

# Загрузите данные из CSV файла
df = pd.read_csv('../file/Global Population Trends(2016-2022).csv')

# Замените запятые и '-' на 0 и преобразуйте столбец 'Total Population' в числовой формат
df['Total Population'] = df['Total Population'].str.replace(',', '').replace('-', '0').astype(float)

# Выберите только строки, где 'Total Population' больше 0
df = df[df['Total Population'] > 0]

# Найдите максимальное значение в столбце 'Total Population'
max_pop = df['Total Population'].min()

# Найдите страну с максимальным населением
country = df.loc[df['Total Population'] == max_pop, 'Country']

# Выведите страну с максимальным населением
print(country)

994    Tuvalu
Name: Country, dtype: object

In [21]:
df.to_excel('data.xlsx', index=False)